<header class="header">
    <div class="header__logo">
        <a routerLink="/"><img src="../../../../assets/logo.png" class="header__logo-img"></a>
    </div>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-list-content">
              <a class="header__menu-links" href="/home">
                <img class="header__menu-img" src="../../../../assets/A.png">
                Home
              </a>
            </li>
            <li class="header__menu-list-content">
              <a class="header__menu-links" href="/products">
                <img class="header__menu-img" src="../../../../assets/B.png">
                Prods.
              </a>
            </li>
            <li class="header__menu-list-content">
              <a class="header__menu-links" href="/gestion">
                <img class="header__menu-img" src="../../../../assets/C.png">
                Gestion
              </a>
            </li>
          </ul>

        <!-- <ul class="header__menu-list">
            <li class="header__menu-list-content"><img class="header__menu-img" src="../../../../assets/A.png"><a class="header__menu-links" routerLink="/home">Home</a></li>
            <li class="header__menu-list-content"><img class="header__menu-img" src="../../../../assets/B.png"><a class="header__menu-links" routerLink="/products">Prods.</a></li>
            <li class="header__menu-list-content"><img class="header__menu-img" src="../../../../assets/C.png"><a class="header__menu-links" routerLink="/gestion">Gestion</a>
        </ul> -->
    </nav>
</header>


